/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* propiedades de la caja */

.caja{
   
    display: grid;
    /* columnas */
    grid-template-columns: repeat(2, 1fr);
    /* filas */
    grid-template-rows: 250px 150px;

    gap: 10px 30px;
}


/* propiedades de los hijos */

.hijo-uno{
    background-color: tomato;
}

.hijo-dos{
    background-color: rgb(156, 75, 61);
}

.hijo-tres{
    background-color: rgb(96, 50, 42);
}

.hijo-cuatro{
    background-color: rgb(50, 27, 23);
}


/* codigo ejemplo uno */

.contenedor{
    height: 600px;
    background-color: tomato;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    /* la justificacion */
    justify-items: center;
    align-items: start ;
}

.item-uno{
    background-color: violet;
    justify-self: end ;
    align-self: center ;
}

.item-cuatro{
    background-color: violet;
    justify-self: end ;
    align-self: center ;
}


/* estilos ejemplo dos */

.contain{
    height: 100vh;
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: 0.5fr 2fr 1fr 0.5fr;

    grid-template-areas: 
        "header header header"
        "main main section"
        "main main aside"
        "footer footer footer";

    gap: 10px;
}

header{
    background-color: tomato;
    grid-area: header;
}

main{
    background-color: rgb(200, 74, 52);
    grid-area: main;
}

section{
    background-color: rgb(159, 61, 43);
    grid-area: section;
}

aside{
    background-color: rgb(110, 42, 30);
    grid-area: aside;
}

footer{
    background-color: rgb(60, 24, 17);
    grid-area: footer;
}